@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --border-shadow: 255, 255, 255, 0.145;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@theme {
  --text-white: hsl(var(--foreground));

  /* Default Theme Colors */
  --color-main-light-400: #E6F3FF;
  --color-main-light-300: #B3D4FF;
  --color-main-light-200: #4490FF;
  --color-main-light-100: #2252FF;
  --color-main-base: #000aff;
  --color-main-dark-100: #120BD4;
  --color-main-dark-200: #2313AC;
  --color-main-dark-300: #2C1787;
  --color-main-dark-400: #2C1966;
  --color-main-dark-500: #271747;

    /* Gray Scale */
  --color-gray-light-400: #F9FAFB;
  --color-gray-light-300: #F3F4F6;
  --color-gray-light-200: #E5E7EB;
  --color-gray-light-100: #D1D5DB;
  --color-gray-base: #9CA3AF;
  --color-gray-dark-100: #6B7280;
  --color-gray-dark-200: #4B5563;
  --color-gray-dark-300: #374151;
  --color-gray-dark-400: #1F2937;
  --color-gray-dark-500: #111827;

  /* Slate Scale */
  --color-slate-light-400: #F8FAFC;
  --color-slate-light-300: #F1F5F9;
  --color-slate-light-200: #E2E8F0;
  --color-slate-light-100: #CBD5E1;
  --color-slate-base: #94A3B8;
  --color-slate-dark-100: #64748B;
  --color-slate-dark-200: #475569;
  --color-slate-dark-300: #334155;
  --color-slate-dark-400: #1E293B;
  --color-slate-dark-500: #0F172A;

  /* Red Scale */
  --color-red-light-400: #fef2f2;
  --color-red-light-300: #fee2e2;
  --color-red-light-200: #fca5a5;
  --color-red-light-100: #f87171;
  --color-red-base: #DC2626;
  --color-red-dark-100: #B91C1C;
  --color-red-dark-200: #991B1B;
  --color-red-dark-300: #7F1D1D;
  --color-red-dark-400: #671D1D;
  --color-red-dark-500: #4C1D1D;

  /* Colors */

  /* Primary */
  --symbiosis-btn-primary-bg: var(--color-main-base);
  --symbiosis-btn-primary-text: white;
  --symbiosis-btn-primary-hover: var(--color-main-dark-100);
  --symbiosis-btn-primary-active: var(--color-main-dark-200);
  --symbiosis-btn-primary-disabled: var(--color-gray-base);

  /* Focus Ring */
  --symbiosis-btn-focus-ring: var(--color-main-dark-100);
  --symbiosis-btn-focus-ring-size: 4px;
  --symbiosis-btn-focus-ring-radius: 11px;
  --symbiosis-btn-border-radius: 8px;

  /* Outline */
  --symbiosis-btn-outline-bg: transparent;
  --symbiosis-btn-outline-text: var(--color-main-dark-100);
  --symbiosis-btn-outline-hover: var(--color-main-light-400);
  --symbiosis-btn-outline-active: var(--color-main-light-300);
  --symbiosis-btn-outline-disabled: var(--color-gray-base);

  /* Ghost */
  --symbiosis-btn-ghost-bg: transparent;
  --symbiosis-btn-ghost-text: var(--color-main-dark-100);
  --symbiosis-btn-ghost-hover: var(--color-main-light-400);
  --symbiosis-btn-ghost-active: var(--color-main-light-300);
  --symbiosis-btn-ghost-disabled: var(--color-gray-base);

  /* Link */
  --symbiosis-btn-link-bg: transparent;
  --symbiosis-btn-link-text: var(--color-main-dark-100);
  --symbiosis-btn-link-active: var(--color-main-light-400);
  --symbiosis-btn-link-disabled: var(--color-gray-base);

  /* Destructive Colors */
  /* Primary */
  --symbiosis-btn-destructive-primary-bg: var(--color-red-base);
  --symbiosis-btn-destructive-primary-text: white;
  --symbiosis-btn-destructive-primary-hover: var(--color-red-dark-100);
  --symbiosis-btn-destructive-primary-active: var(--color-red-dark-200);

  /* Outline */
  --symbiosis-btn-destructive-outline-bg: transparent;
  --symbiosis-btn-destructive-outline-text: var(--color-red-base);
  --symbiosis-btn-destructive-outline-hover: var(--color-red-light-400);
  --symbiosis-btn-destructive-outline-active: var(--color-red-light-300);

  /* Ghost */
  --symbiosis-btn-destructive-ghost-bg: transparent;
  --symbiosis-btn-destructive-ghost-text: var(--color-red-base);
  --symbiosis-btn-destructive-ghost-hover: var(--color-red-light-400);
  --symbiosis-btn-destructive-ghost-active: var(--color-red-light-300);
  
  /* Monochrome */
  /* Primary */
  --symbiosis-btn-monochrome-light-primary-bg: white;
  --symbiosis-btn-monochrome-light-primary-text: var(--color-gray-dark-400);
  --symbiosis-btn-monochrome-light-primary-hover: var(--color-gray-light-300);
  --symbiosis-btn-monochrome-light-primary-active: var(--color-gray-light-400);
  
  --symbiosis-btn-monochrome-dark-primary-bg: var(--color-gray-dark-400);
  --symbiosis-btn-monochrome-dark-primary-text: white;
  --symbiosis-btn-monochrome-dark-primary-hover: var(--color-gray-dark-300);
  --symbiosis-btn-monochrome-dark-primary-active: var(--color-gray-dark-200);

  /* Outline */
  --symbiosis-btn-monochrome-light-outline-bg: transparent;
  --symbiosis-btn-monochrome-light-outline-text: var(--color-gray-dark-400);
  --symbiosis-btn-monochrome-light-outline-border: var(--color-gray-light-400);
  --symbiosis-btn-monochrome-light-outline-hover: var(--color-gray-light-200);
  --symbiosis-btn-monochrome-light-outline-active: var(--color-gray-light-300);

  --symbiosis-btn-monochrome-dark-outline-bg: transparent;
  --symbiosis-btn-monochrome-dark-outline-text: var(--color-gray-dark-400);
  --symbiosis-btn-monochrome-dark-outline-hover: var(--color-gray-light-200);
  --symbiosis-btn-monochrome-dark-outline-active: var(--color-gray-light-100);

  /* Ghost */
  --symbiosis-btn-monochrome-light-ghost-bg: transparent;
  --symbiosis-btn-monochrome-light-ghost-border: var(--color-gray-light-400);
  --symbiosis-btn-monochrome-light-ghost-text: var(--color-gray-light-400);
  --symbiosis-btn-monochrome-light-ghost-hover-text: var(--color-gray-dark-400);
  --symbiosis-btn-monochrome-light-ghost-hover: var(--color-gray-light-200);
  --symbiosis-btn-monochrome-light-ghost-active: var(--color-gray-light-300);

  --symbiosis-btn-monochrome-dark-ghost-bg: transparent;
  --symbiosis-btn-monochrome-dark-ghost-text: var(--color-gray-dark-400);
  --symbiosis-btn-monochrome-dark-ghost-hover: var(--color-gray-light-200);
  --symbiosis-btn-monochrome-dark-ghost-active: var(--color-gray-light-100);

  /* Link */
  --symbiosis-btn-monochrome-light-link-bg: transparent;
  --symbiosis-btn-monochrome-light-link-border: var(--color-gray-light-400);
  --symbiosis-btn-monochrome-light-link-text: var(--color-gray-light-400);
  --symbiosis-btn-monochrome-light-link-active: var(--color-gray-light-300);
  --symbiosis-btn-monochrome-light-link-active-text: var(--color-gray-dark-400);

  --symbiosis-btn-monochrome-dark-link-bg: transparent;
  --symbiosis-btn-monochrome-dark-link-text: var(--color-gray-dark-400);
  --symbiosis-btn-monochrome-dark-link-active: var(--color-gray-light-100);


  --symbiosis-btn-focus-ring-size: 4px;
  --symbiosis-btn-focus-ring-radius: 11px;
  --symbiosis-btn-border-radius: 8px;
}

.light-scheme {
  --symbiosis-btn-primary-hover: var(--color-main-light-100);
  --symbiosis-btn-primary-active: var(--color-main-light-200);
}
